<b>Добро пожаловать в магазин! 🛍️</b>

<b>Привет, emptypy! 👋</b>

Мы рады видеть вас в нашем магазине.

Перед тем как идти за покупками, зайдите в личный кабинет, бросьте виртуальный кубик и получите свою ежедневную скидку на товары от 1 до 6%! 🎲

<b>Выберите действие:</b>

➡️ <i>К покупкам</i> - Начать выбор товаров.

➡️ <i>К аккаунту</i> - Перейти в личный кабинет.

➡️ <i>Выйти</i> - Выйти из аккаунта.

Если вы хотите вернуться к началу, просто введите команду <code>/start</code>.

Удачных покупок! 💰